    h1 {
      color: white; 
      font-family: Georgia, serif; 
      font-size: 60px;
    }
    
    label {
      width: 900px; 
      display: inline-block; 
      font-size: 1.4em; 
      font-family: Georgia, serif;
      margin-bottom: 50px;    
    }

    h2 {
      color: white;
      font-family: Georgia, serif;
      font-size: 40px;

    }
    

    p1 {
      font-family: Georgia, serif;
      font-size: 1.5em;
      margin-top: 100px; 
      margin-bottom: 100px; 
      color: white;
    }

    table.center {
      width: 50%; 
      margin-left: auto; 
      margin-right: auto;
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
      font-size: 1.3em;
      font-family: Georgia, serif;
      border-collapse: collapse;
      background-color: rgb(100,200,255);
    }
    

    #mytable td {
      padding: 18px;
      font-family: Georgia, serif;
      border: 1px solid rgb(0,0,70);
    }

    #mytable th {
      padding: 20px;
      font-family: Georgia, serif;
      border: 1px solid rgb(0,0,70);
      color:white;
    }



    input[type=number], select {
      font-size = 20px
      width: 100%;
      padding: 8px 5 px;
      margin: 10px 0;
      display: inline-block;
      border: 1px solid rgb(0,0,0);
      text-align:right;
      border-radius: 5px;
    }

    .switch_page {
      border: 1px solid black; 
      font-size: 18px; 
      background-color: rgb(0,0,70);
      color: white;
      padding: 18px 30px;
      opacity: 0.7;
      transition: 0.2s;
      margin: 8px 0;
      border-radius: 10px;
      cursor: pointer;
      display: inline-block;
      pointer-events: auto;
    }


    .switch_page:hover {
      border: 1px solid black; 
      font-size: 18px; 
      background-color: rgb(0,0,70);
      color: white;
      padding: 18px 30px;
      opacity: 1;
      margin: 8px 0;
      border-radius: 10px;
      cursor: pointer;
      display: inline-block;
      pointer-events: auto;
    }

   .link {
    background-color: rgb(0, 0, 90);
    opacity: .9;
        border: 1px rgb(0,0,90); 
    transition: 0.2s; 
        font-family: Georgia, serif; 
    font-size: 1.4em; 
    color: white; 
    border-radius: 30px; 
    padding: 40px 50px;
        display: inline-block;        

    }

   .link:hover {

    background-color: rgb(0, 0, 90);
    opacity: 1;
    border: 1px rgb(0,0,90); 
    font-size: 1.4em; 
        font-family: Georgia, serif; 
    color: white; 
    border-radius: 30px; 
    padding: 40px 50px;
    }
    body {
      width: 100%;
    }
    .main {
      border-radius: 50px;
      background-color: rgb(100, 200, 255);
      padding: 50px;
      margin-top: 100px;
      margin-bottom: 100px;
    }
     

    #options_bar {
      width: 100%;
      text-align: center;
    }
    
    .title {
      background-color: rgb(50, 40, 200);
      padding: 50px;
    }

    #results {
      margin-top:30px;
      border-radius: 20px;
      background-color: rgb(0, 210, 220);
      padding: 50px;
    }

    #documentation {
      margin-left: 100px;
      margin-right: 100px;
      margin-top: 150px;
      margin-bottom: 150px; 
      width: auto;
      height: auto;
      line-height: 2; 
      background-color: rgb(50, 100, 100); 
      background-image: linear-gradient(rgb(50, 50, 160), rgb(150, 210, 160)); 
      background-attachment: fixed;
      background-size: cover;
      color: white; 
      font-size: 19px;
    }
